@model RecipePal.ViewModels.CookbookViewModel


<h1>@Model.Cookbook.Title</h1>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Date Added</th>
            <th>Likes</th>
            <th>Dislikes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Cookbook.Recipes)
        {
        <tr>
            <td>
                <a asp-controller="Recipe"
                   asp-route-id="@recipe.Id">
                    @recipe.Title
                </a>
            </td>
            <td>@recipe.CreatedAt.ToShortDateString()</td>
            <td>@recipe.Likes</td>
            <td>@recipe.Dislikes</td>
        </tr>
        }
    </tbody>
</table>
