@model IEnumerable<RecipePal.Models.Identity.AppUser>

<h1 class="bg-info text-white">Welcome @TempData["UserName"]</h1>
<a asp-action="Create" class="btn btn-secondary">Create a User</a>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Password Hash</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AppUser user in Model)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.PasswordHash</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">
                    Update
                </a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>